<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-3 banner d-flex justify-content-center align-items-center">
			<%= simple_form_for @confess do |f| %>
				<%= f.input :name %>
				<%= f.input :email %>
				<%= f.input :text %>
				<%= f.submit "Confess" %>
			<% end %>
		</div>
	</div>
</div>