<div class="container">
	<div class="row mt-5">
		<div class="col-sm-8 offset-sm-2 mt-2 ">
			<div class="p-3 mb-2 bg-success text-white rounded text-center">Não se preocupe, as confissões são <span class="border border-warning border-top-0 border-left-0 border-right-0">anônimas</span>. Seus dados não são expostos :)</div>
			<%= simple_form_for @confess, html: {class: "form-container bg-white p-5 rounded"} do |f| %>
				<%= f.input :name, label: "Nome", placeholder: "digite seu nome" %>
				<%= f.input :email, label: "E-mail", placeholder: "digite seu email" %>
				<%= f.input :text, as: :text, label: "Desabafo", placeholder: "desabafe, confesse, escreva o que quiser..." %>
				<%= f.submit "Confessar", class: "btn btn-success text-white" %>
			<% end %>
		</div>
	</div>
</div>