<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Confessa Aí" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.confessai.com.br" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Confessa Aí é um simples site para que você desabafe, confesse aquilo que te incomoda e torne o seu fardo leve." />
    <meta property="og:site_name" content="Confessa Aí" />
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="Confessa Aí">
    <meta name="twitter:description" content="Confessa Aí é um simples site para que você desabafe, confesse aquilo que te incomoda e torne o seu fardo leve.">
    <meta name="twitter:image:src" content="">
    <meta name="keywords" content="confessar pecados, confessar pecado, pecado, perdão, Deus, Jesus, sofrimento, ter paz, ter felicidade" />
    <meta name="author" content="Confessa Aí é um simples site para que você desabafe, confesse aquilo que te incomoda e torne o seu fardo leve." />
    <link rel="canonical" href="http://www.confessai.com.br" />
    <meta property="og:locale" content="pt_BR" />
    <meta name="theme-color" content="#00ffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <%= favicon_link_tag 'fav_icon.png' %>
    <title>Confessa Aí</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-6700864119360383",
              enable_page_level_ads: true
         });
    </script>
  </body>
</html>
